@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
//General Buttons
button.laguna__button__light{
    background-color: var(--laguna--theme-color);
    color: vars.$laguna-white;
    border: 2px solid;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2rem 3rem;
    @include mixins.basicTransition;
    &:hover{
        background-color: vars.$laguna-white;
        color: var(--laguna--theme-color);
    }
}

.laguna__showAll_wrapper{
    margin-top: 4rem; 
    text-align: center;
    
    #laguna__projects__toggleButton{
        border-radius: 60%;
    }
}


// Scroll Up Button
#scrollUpBtn {
    background-color: var(--laguna--theme-color);
    display: none; 
    position: fixed; 
    font-size:3rem;
    bottom: 2rem; 
    right: -3rem; 
    z-index: 99; 
    outline: none; 
    border-radius: 100%; 
    color: vars.$laguna-white;
    border: 2px solid vars.$laguna-white;
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 2.5rem;
    padding-bottom: 6px;
    @include mixins.basicTransition;
    @include mixins.respond-to(overtablet, fine){
        &:hover{
            background-color: vars.$laguna-white;
            path{
                stroke:var(--laguna--theme-color);
            }
        }
    }

    &:active{
        background-color: vars.$laguna-white;
        path{
            stroke:var(--laguna--theme-color);
        }
    }
}

.laguna__arrowup_show{
    align-items: center;
    justify-content: center;
    padding-top: 0.7rem;
    @include mixins.basicTransition;
}

//position of scrollup in the single page mobile
body.laguna__singlepage{
    #scrollUpBtn{
        bottom:13rem;
    }
}

//Theme colors buttons
#laguna_light_mode--btn *,
#laguna_dark_mode--btn *{
    @include mixins.basicTransition;
}

#laguna_dark_mode--btn--moon{
   fill: rgba(vars.$laguna-white, 0);
    stroke: vars.$laguna-white;
    stroke-width: 1.9px;
}

[data-theme="dark"]{
    #laguna_light_mode--btn{
        #laguna_light_mode--btn--sun{
            fill:rgba(vars.$laguna-white, 0);
        }
        &:hover{
            #laguna_light_mode--btn--sun{
                fill:rgba(vars.$laguna-white, 1);
            }
        }
    }
   
    #laguna_dark_mode--btn{
        #laguna_dark_mode--btn--moon{
            fill:rgba(vars.$laguna-white, 1);
        }
    } 
}

[data-theme="light"]{
    #laguna_light_mode--btn{
        #laguna_light_mode--btn--sun{
            fill:rgba(vars.$laguna-white, 1);
        }
    }
    #laguna_dark_mode--btn{
        #laguna_dark_mode--btn--moon{
            fill:rgba(vars.$laguna-white, 0);
        }
        &:hover{
            #laguna_dark_mode--btn--moon{
                fill:rgba(vars.$laguna-white, 1);
            }
        }
    }
}


//Design/Illustration Buttons
#laguna_design--btn--default{
    width: 60%;
    height: unset;
    @include mixins.respond-to(overtablet){
        width: unset;
        height: 100%;
        max-height: 20rem;
    }
    &:hover{
        .laguna_design--btn--letter{
            fill: rgba(vars.$laguna-white, 0);
            stroke: vars.$laguna-white;
            stroke-width: 2px;
            @include mixins.basicTransition;
        }
    }
}

#laguna_illustration--btn--default{
    width: 80%;
    height: unset;
    @include mixins.respond-to(overtablet){
        width: unset;
        height: 100%;
        max-height: 20rem;
    }
    &:hover{
        .laguna_illustration--btn--letter{
            fill: rgba(vars.$laguna-white, 0);
            stroke: vars.$laguna-white;
            stroke-width: 2px;
            @include mixins.basicTransition;
        }
    }
}

//Go nav projects buttons

#laguna__prevProject_button{
    left: 1.5rem;
    @include mixins.respond-to(overdesktop){
        left: 3rem;
        padding-right:24px;
        &:hover{
            padding-right:16px;
        }

    }
}

#laguna__nextProject_button{
    right: 1.5rem;;
    @include mixins.respond-to(overdesktop){
        right: 3rem;
        padding-left:24px;
        &:hover{
            padding-left:16px;
        }
    }
}

.laguna__navProject_button{
    top: calc(50vh - 8rem);
    background-color: var(--laguna--theme-color);
    font-size:2.25rem;
    font-weight: 500;
    position: fixed;
    border: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    border: 2px solid;
    padding:8px 16px;
    border-radius: 20rem;
    overflow: hidden;
    @include mixins.basicTransition;
    @include mixins.respond-to(overdesktop){
        
        height: auto;
        width: 7.5rem;
        &:hover{
            width: auto;
        }
    }

    > span{
       white-space: nowrap;
       display: none;
        @include mixins.basicTransition;
        @include mixins.respond-to(overdesktop){
            display: initial;
            width:0;
            margin-left: -16px;
            visibility: hidden;
            opacity: 0;
        }
    }

    &:hover{
        svg{
            @include mixins.basicTransition;
        }

        /* falta poor hacer la animación de la otra flecha, lo dejo pendiente y las dos flechas sin animar
        #arrow-back{
            animation: arrowback 1s steps(24) infinite;
        }*/

        > span{
            width: auto;
             opacity:1;
             margin-left: 0;
             visibility: initial;
        }

    }

    .laguna__goback_button_arrow{
        overflow: hidden;
        width: 2.25rem;
        display: inline-table;
        align-items: center;
        padding-top: .75rem;
    }
}

